<div class="login-container" style=" padding-top: 200px;">
    <div class="div-login-form">
        <div class="col-sm-3"> </div>
        <div class="col-sm-6">

            <form>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" name="email"  [(ngModel)]="userDetails.userId" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                   
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" name="password" [(ngModel)]="userDetails.password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
                
                <button type="submit" (click)="login()" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <div class="col-sm-3"> </div>
    </div>
</div> 
